*, ::after, ::before, .nav_items, .nav_items *, a:link, li, header, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}
header{
    margin: 0;
    padding: 0;
}
h1,h5,li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: #000;
    font-family: Segoe UI;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 0% */
}
h5{
    color: #000;
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 56px; /* 233.333% */
}
.name{
    margin-left: 14.5rem;
    margin-top: 10.68rem;


}
header{
   
    background-size: cover;
    height: 393;
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: center;
    height: 24.5625rem;
    flex-shrink: 0;
    /* background: url(./images/WhatsApp\ Image\ 2021-11-04\ at\ 17.34.36.jpeg); */
    /* opacity: 0.5; */
    background-position: center;


}

header::after{

    
        content: "";
        background: url(./images/WhatsApp\ Image\ 2021-11-04\ at\ 17.34.36.jpeg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        background-position: center;
        background-size: cover;
}
      


.nav{
    position: absolute;
    /* top: 0; */
    /* width: 100%; */
    height: 1.75rem;
    bottom: 0;
}

.nav ul{
    color: #000;
    text-align: center;
    font-family: Segoe UI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.nav ul li{
    padding-left: 1.69rem;
   
}
.nav_items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    padding: 0 10%;
}

.passive{
    mix-blend-mode: color;
}

.active{
    color: #000 !important;
    letter-spacing: 8px;
}

.hero{
    background-size: cover;
    width: 100%;
    height: 30.5rem;
    display: flex;
    position: relative;
    background-size: center; 
    /* background: url(./images/josh-calabrese-XXpbdU_31Sg-unsplash.jpg);
    opacity: 0.5; */
    background-position: right;
    align-items: center;
    justify-content: space-around;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero::after{
    content: "";
    background: url(./images/josh-calabrese-XXpbdU_31Sg-unsplash.jpg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-position: right;
    opacity: 0.15;

}

.hero-photo img{
    padding-left: 15px;
}

.left-arrow{
    transform: rotate(180deg);
}
.hero-content{
    display: flex;
    gap: 30px;
    
}


.hero-content-texts{
    display: flex;
    flex-direction: column;
    gap: 47px;
    padding-right: 15px;
}

.content-title{
    color: #000;
font-family: Segoe UI;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text-title{
    color: #000;
font-family: Segoe UI;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
opacity: 0.5600000023841858;
}

.text-content{color: #000;
    font-family: Segoe UI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 9.61px;
}

    .button1{
      
width: 7.44963rem;
height: 3.08106rem;
padding: 0rem 0.85563rem 0rem 0.83188rem;
align-items: flex-start;
flex-shrink: 0;
border-radius: 1.0625rem;
background: #FFC4C4;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
text-align: center;
font-family: Segoe UI;
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: 1.75rem; /* 200% */

    }

    .title_header{
        color: #000;
text-align: center;
font-family: Segoe UI;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .sub_title{
        color: #000;
text-align: center;
font-family: Segoe UI;
font-size: 1.1075rem;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

.subText{
font-family: Segoe UI;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.subsystems{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 257px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #FFF;}

.sub1_1, .sub2_1, .sub3_1{
   margin-bottom: 30px;
}

.comments{
    margin-top: 90px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    padding-right: 20px;
    

}

.card1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 1.32813rem;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 30.6px;
width: 432.6px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-align: initial;
    padding-left: 10px;;
}

.comments-title{
    color: #000;
text-align: center;
font-family: Segoe UI;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 90px;
}

.comment-img{
    width: 2.1875rem;
height: 2.1875rem;
border-radius: 50%;

}

.card-header{
    background: rgba(255, 234, 234, 0.30);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 0;
    align-items: center;
    text-align: left;
    gap: 13px;


}
.comment-name{
    color: #000;
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.comment-cards{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1.1875rem 5.5625rem 1.25rem 5.5625rem;

}

footer-left{
    color: #FFF;
text-align: center;
font-family: Segoe UI;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
footer-right span{
    color: #FFF;
text-align: center;
font-family: Segoe UI;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
font-weight: 400;
line-height: normal;
padding-right: 10px;
}

@media (max-width: 927px) {
    .hero{
        padding: inherit;
    }
    
    .subsystems{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
        gap: 8px;
        transition:cubic-bezier(1, 0, 0, 1) 0.8s;
    }

   
}

@media screen and (max-width: 823px){
    .hero-content{
        justify-content: space-between;
    }
    .name {
        margin-left: 4.5rem;
    }
.hero{
    padding-left: 50px;
    padding-right: 50px;
}
    .hero-photo {
        position: absolute;
        padding-left: 15px;
        height: 50%;
        top: auto;
        height: 30%;
    }

    .hero-content-texts {

    text-align: end;
    gap: 9px;
   
}


.text-content{
    visibility: hidden;
}

    .content-title {
     font-size: 20px;
    }

    .subsystems{
        flex-direction: row;
    }

}

@media screen and (max-width: 376px){

    .name{
        margin-top: 2rem;
        margin-left: 4.5rem;
    }

    .name h1{
        font-size: 16px;
    }

    .name h5{
        font-size: 12px;
    }

    .nav_items{
        bottom: 340px;
        display: none;
    }

    label.hamburg { 
        display: block;
        background: #f3f5f8; width: 75px; height: 50px; 
        position: relative; 
        margin-left: auto; margin-right: auto;
        border-radius: 4px; 
        
     }
     
     input#hamburg {display:none}

     .line { 
        position: absolute; 
        left:10px;
        height: 4px; width: 55px; 
        background: #000; border-radius: 2px;
        display: block; 
        transition: 0.5s; 
        transform-origin: center; 
     }
     
     .line:nth-child(1) { top: 12px; }
     .line:nth-child(2) { top: 24px; }
     .line:nth-child(3) { top: 36px; }
     
     #hamburg:checked + .hamburg .line:nth-child(1){
        transform: translateY(12px) rotate(-45deg);
     }
     
     #hamburg:checked + .hamburg .line:nth-child(2){
        opacity:0;
     }
     
     #hamburg:checked + .hamburg .line:nth-child(3){
        transform: translateY(-12px) rotate(45deg);
     }

     .row{
        position: absolute;
        top: -364px;
     }

     .hero {
        padding-left: 0;
        padding-right: 0;
    }

    .text-content{
        display: none;
    }

    .left-arrow img {
        height: 27px;
       
    }

    .right-arrow img{
        height: 27px;
    }

    .hero-photo{
        height: 15%;
        position: absolute;
        left: 131.5px;
        top: 20%;
    }

    header{
        height: 4.5625rem;
    }
}