*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p{
   
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}


.header{
    display: flex;
    justify-content: space-between;
    background-image: url("./images/WhatsApp\ Image\ 2021-11-04\ at\ 17.34.36.jpeg");
    
    background-size: cover;
    /* margin-right: 63px;
    margin-left: -45px; */
    background-repeat:no-repeat;
    width:100%;
    height: 470px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* padding-left: 50px;
    padding-right: 50px; */
   
    
}

.header_name{

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 84px;
color: #000;
position: absolute;
left: 368px;
top: 250px;

}

.header_h3{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
position: absolute;
left: 368px;
top: 300px;
font-style: normal;
font-weight: normal;
line-height: 56px;
color: #000;
opacity: 0.66;
}

.ulhead{
    display: flex;
    background-color: #c4c4c4;
    margin: 80px 442px 0 150px   ;
    
    justify-content: space-between;
    list-style: none;
    margin-right: 160px;
    width:fit-content;
    height: 60px;
    align-items: center;

}

.menulist, .menulist1{
    
    padding: 0 43px;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    
    
}

.item1{
background-color: #7c7a7a;
width: 100%;
height: 100%;
text-align: center;

}

.menulist1{
    padding-top: 20px;
}


.iletisim{
    position: absolute;
    color: #000;
    top: 415px;
    margin-left: 20px;
}
/* .logo{
    background-image: url("./images/logo.png");
    width: 213px;
    background-repeat: no-repeat;
    margin-left:362px ;
    margin-top: 42px;
} */

.logo{
    margin-left: 20px;
    
}

.name{
    position: absolute;
    top: 300px;
    right: 50%;
    color: aliceblue;
}

.dyt{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.saglik{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;



color: #FFFFFF;

opacity: 0.66;
}

.hero{
    padding: 50px 0 50px 0;
    display: flex;
    background: rgb(2,0,36);
    margin: 10px 0 10px 0;
    max-height: 745px;
    background: rgb(255, 253, 249);
    background: linear-gradient(90deg, rgb(250, 248, 243) 0%, rgb(250, 228, 219) 30%);
    

   
}

.hero_text{
    padding: 30px;
}


.heroText h2{
   opacity: 0.76;
}

.heroText2 h3{
    opacity: 0.56;
}

.heroText3 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.heroTextButton {
    width:120px;
    text-align: center;
    background: #ffc4c4;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    margin-bottom: 10px;

}

.heroTextButton a{
    color: #ffb7b7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.heroTextButtonLink:hover{
    color: #ff6c6c;
}

a:visited{
    color: #FFFFFF;
}
a { text-decoration: none; }

.heroText{
    margin-bottom: 10px;
    font-size: 36px;
}

.heroText2{
    margin-bottom: 10px;
}

.heroText3{
    margin-bottom: 10px;
}

.heroTextButton2 p{
    background-color: #cfcece;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 28px;
    border-radius: 10px;
    width: 100px;

}

.hero_photo img{
    width:387px;
    height: 453px;
    left: 356px;
    top: 973px;
    border-radius: 50%;
    margin-top:20px ;
    margin-left: 90px;

}

/* Beslenme sistemleri | 3. Kısım */

.besl_sist{
    /* background-color: 	rgb(226, 255, 232); */
    height: 450px;
    margin: 10px 0 10px 0;
    /* background-image: url("./images/besl_back.png") ; 
    background-repeat: no-repeat;
    background-size: cover; */
   
    
    
}





.slider_left{
    padding-right: 15px;
    padding-top: 100px;
    margin-right: 200px;
}

.slider_right{
    padding-left: 15px;
    padding-top: 100px;
    margin-left: 200px;
}

.cardtext1{
    margin: auto;
}
.cardtext2{
    margin: auto;
}
.cards{
    
    /* justify-content:; */
    margin-top: 75px;
    height: 170px;
    margin: auto;
    width: fit-content;
    align-items: center;
    /* flex-direction: row; */
    
    
    
}


.first_four, .second_four{
    display: flex;
    margin-left:30px ;
}

.card{
    /* height: 114px; */
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px 0 0px 0;
    text-align: center;
    margin-right: 5px;
    
    
}

.besl1, .besl2 {
    text-align: center;
    
}

.besl1 h2{
    padding-top: 15px;
    font-size: 36px;
    color: #000;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.besl2 h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #000;
}

.card h3{
    color:#973131;
    font-size: large;

}

.card:hover{
    background-color: hsl(0, 94%, 82%) ; }

.card1{
    /* background-color: 	hsl(0, 94%, 82%) ; */
    flex-grow: 3;
    /* margin-right: 15px; */
}


.card2{
    /* background-color:	hsl(0, 94%, 85%) ; */
    /* margin: 0 15px 0 15px; */
    flex-grow: 3;
}



.card3{
    /* background-color:	hsl(0, 94%, 88%);  */
    /* margin: 0 15px 0 15px; */
    flex-grow: 3;

}

.card4{
    /* background-color:	hsl(0, 94%, 91%);  */
    /* margin-left: 15px; */
    flex-grow: 3;
} 

.card5{
    /* background-color:hsl(323, 100%, 71%);  */
    /* margin-left: 15px; */
    flex-grow: 3;
} 

.card6{
    /* background-color:hsl(323, 100%, 75%);  */
    /* margin-left: 15px; */
    flex-grow: 3;
} 

.card7{
    /* background-color:hsl(323, 100%, 79%);  */
    /* margin-left: 15px; */
    flex-grow: 3;
} 

.card8{
    /* background-color:hsl(323, 100%, 83%);  */
    /* margin-left: 15px; */
    flex-grow: 3;
} 

/* Danışan Yorumları| 4. Kısım */

.danisan_y{
    background: rgba(0, 172, 236, 0.05);

}

.d_yorumlari{
    background: rgba(0, 172, 236, 0.05);
    padding-top: 10px;
    height: 500px;
}



.d_text{
    width:auto;
    margin: auto;
    
    margin-top: 15px;
    padding-top: 15px;
    background: rgba(0, 172, 236, 0.05);

}


.d_text h3{
    text-align: center;
}

.d_cards{
    margin: 5px 20px 5px 20px;
   
    display: flex;
    padding-left:15px ;
    padding-right:15px ;
    justify-content: space-around;
   
    
    
}


.d_card1,.d_card2,.d_card3{
    
    background-color: white;
    border-radius: 5%;
    width: 400px;
    height: 450px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.d_card1,.d_card2,.d_card3{
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
}

.d_card_name{
    margin-top: 15px;
}


/* Danışan Yorumları| 4. Kısım */

/* .logo2{
    margin-top: 30px;
    margin-right: 10px;
    position: absolute;
    top: 2310px;
} */

.sitemap{
    display: flex;
}

.footer-up{
background: #8E8E8E;
display: flex;
justify-content: space-between;
}

.site-map ul{

    
    display: flex;
    list-style: none;
    gap:10px;
    color: #FFFFFF;
    
}

/* .contact{
    padding-left: 1200px;
    padding-bottom: 80px;
    color: #FFFFFF;
} */

.footer-down{
    text-align: right;
    padding-bottom: 30px;
    padding-left: 1250px;
    color: #8E8E8E;
    background: #4E4E4E;
    
}
